[Unit]
Description=Keycloak
After=network.target

[Service]
Type=idle
User={{ keycloak_user }}
Group={{ keycloak_group }}
ExecStart={{ keycloak_home }}/current/bin/standalone.sh -b 0.0.0.0
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
